body {
	
	background-color: white;
	 background-image: url("images/bg-img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#allTable {
	border-collapse: collapse;
	width:70%;
}

#frmAddEditTask {
	border-collapse: collapse;
	width:50%;
}

.pageHeader{
	text-align: left;
	/*width:70%;*/
	background-color: whitesmoke;
	text-transform: uppercase;
}

